<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087760665787-apj1esit13j22ad8emhco72db0reol24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087760665787-apj1esit13j22ad8emhco72db0reol24</string>
	<key>API_KEY</key>
	<string>AIzaSyCLZunHQdPzXtxNy5dw_ljXSH6ul4fPlu0</string>
	<key>GCM_SENDER_ID</key>
	<string>1087760665787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>duckdever.electric-station.chat-demo</string>
	<key>PROJECT_ID</key>
	<string>sandbox-for-development</string>
	<key>STORAGE_BUCKET</key>
	<string>sandbox-for-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087760665787:ios:a3e0e9cba4a96bb7062d9e</string>
	<key>DATABASE_URL</key>
	<string>https://sandbox-for-development.firebaseio.com</string>
</dict>
</plist>